@import './mediaquery/big-screen.css';
@import './mediaquery/medium-screen.css';
@import './mediaquery/small-screen.css';


body,
#q--first,
#q--second,
#q--final {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(5.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#q--second,
#q--final {
  display: none;
}

.fas {
  animation: move 1s infinite alternate;
}

@keyframes move {
  10% {
    transform: scale3d(0.5, 0.5, 0.5);
    color: white;
  }
  50% {
    transform: scale3d(1.5, 1.8, 1);
    color: white;
  }
  100% {
    transform: scale3d(1.5, 1.5, 1.5);
    color: white;
  }
}

#result__image {
  animation: appear 2s forwards;
}

