@import './mediaquery/big-screen.css';
@import './mediaquery/medium-screen.css';
@import './mediaquery/small-screen.css';


body,
#q--first,
#q--second,
#q--final {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(5.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#q--second,
#q--final {
  display: none;
}

.fas {
  animation: move 1s infinite alternate;
}

@keyframes move {
  10% {
    transform: scale3d(0.5, 0.5, 0.5);
    color: white;
  }
  50% {
    transform: scale3d(1.5, 1.8, 1);
    color: white;
  }
  100% {
    transform: scale3d(1.5, 1.5, 1.5);
    color: white;
  }
}

#t1 {
  width: 471px;
  height: 52px;
  left: 405px;
  top: 300px;
  padding-top: 150px;
}
#result__image {
  width: 600px;
  height: 400px;
  animation: appear 2s forwards;
}

    #result {
        display: none;
        text-align: center;
        border-radius: 20px;
    }
    
    #shareResult {
        max-width: 600px;
        text-align: center;
        border-radius: 20px;
    }
    
    .resultname {
        font-size: 22px;
        font-weight: 600;
        color: white;
    }
    
    .resulttag {
        font-size: 15px;
        font-weight: 500;
        color: black;
        opacity: 50%;
    }
    
    .resultDesc {
        padding: 20px;
        font-size: 14px;
        font-weight: 300;
        background-color: whitesmoke;
        border-radius: 10px;
        text-align: left;
    }
    
    .compatibility {
        font-weight: 400;
        color: #ebabab;
        margin: 0 auto;
        text-align: center;
    }
    
    .item {
        display: inline-block;
        text-align: center;
        margin: 0 auto;
    }
    
    
    .retest {
        background-color: white;
        border: none;
        border-radius: 10px;
        color: #00C8FF;
        padding: 15px;
        font-size: 90%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        margin-bottom: 70px;
    }
    
    .gohome {
        color: white;
        background-color: #ebabab;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 15px;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 100%;
    }
    
    .gohome:hover,
    .gohome:focus {
        background-color: whitesmoke;
        color: #00C8FF;
    }
    
    footer {
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        color: white;
    }