@font-face {
    font-family: "Kanit";
    src: url("../assets/fonts/Kanit-Regular.ttf");
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: "Kanit";
    src: url("../assets/fonts/Kanit-Bold.ttf");
    font-weight: 700;
    font-style: normal;
  }
@font-face {
    font-family: "Kanit";
    src: url("../assets/fonts/Kanit-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
  }
@font-face {
    font-family: "Kanit";
    src: url("../assets/fonts/Kanit-ExtraLight.ttf");
    font-weight: 300;
    font-style: normal;
  }

@font-face {
    font-family: "Sriracha";
    src: url("../assets/fonts/Sriracha-Regular.ttf");
    font-weight: 400;
    font-style: normal;
  }
  