@import './mediaquery/big-screen.css';
@import './mediaquery/medium-screen.css';
@import './mediaquery/small-screen.css';
* {
  font-family: "Kanit", "Sriracha";
  line-height: normal;
  margin: 0;
  padding: 0;
}

.flourish-credit {
  display: none !important;
}

html {
  outline: none;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0;
  font-family: "Kanit"
}

hr {
  height: 0;
  color: inherit
}

.H1 {
  font-family: "Sriracha";
  font-size: 100px;
  line-height: 120px;
}
.H2{
  font-size: 78px;
  line-height: 93.6px;
}
.H3 {
  font-size: 61px;
  line-height: 73.2px;
}
.H4 {
  font-size: 33px;
  line-height: 57.6px;
}
.H5 {
  font-family: "Kanit";
  font-size: 23.4px;
  line-height: 34.98px;
}
.H6 {
  font-size: 19px;
  line-height: 28.7px;
}
span {
  font-family: "Sriracha";
}

p {
  font-family: "Kanit";
  font-size: inherit;
  font-weight: inherit
}


a {
  color: inherit;
  text-decoration: inherit
}

.test{
  font-family: "Kanit";
}

.firstPage {
  background-image: url("../assets/images/bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.firstPage_sum h1 {
  margin: 0;
  font-size: 100px;
}
.firstPage_sum p {
  font-family: "fantasy";
  color: #fdfaf6;
  font-size: 33px;
  margin-bottom: 15px
}
.fa,
.fas {
  cursor: pointer;
}

.scroll-down {
  font-family: "Noto Sans KR", sans-serif;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
  opacity: 1;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.scroll-down i {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.scrollDownImg img {
  text-align: center;
}

:root {
  --radius: 0.7rem;
  --orange: rgba(255, 166, 0, 0.7);
  --lightpurple: rgb(236, 213, 255);
}


#q--first,
#q--second,
#q--final {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#q--second,
#q--final {
  display: none;
}

.fas {
  animation: move 1s infinite alternate;
}

@keyframes move {
  10% {
    transform: scale3d(0.5, 0.5, 0.5);
    color: seagreen;
  }
  50% {
    transform: scale3d(1.5, 1.8, 1);
    color: royalblue;
  }
  100% {
    transform: scale3d(1.5, 1.5, 1.5);
    color: salmon;
  }
}

#result__image {
  animation: appear 2s forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(1em);
    box-shadow: 2em -1em royalblue;
  }
  to {
    opacity: 1;
    box-shadow: 0.8em 0.8em tomato;
  }
}
