
* {
  font-family: "Kanit", "Sriracha";
  line-height: normal;
  margin: 0;
  padding: 0;
}

.flourish-credit {
  display: none !important;
}

html {
  outline: none;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0;
  font-family: "Kanit"
}

hr {
  height: 0;
  color: inherit
}

.H1 {
  font-family: "Sriracha";
  font-size: 100px;
  line-height: 120px;
}
.H2{
  font-size: 78px;
  line-height: 93.6px;
}
.H3 {
  font-size: 61px;
  line-height: 73.2px;
}
.H4 {
  font-size: 48px;
  line-height: 57.6px;
}
.H5 {
  font-family: "Kanit";
  font-size: 37px;
  line-height: 44.4px;
}
.H6 {
  font-size: 29px;
  line-height: 34.8px;
}
span {
  font-family: "Sriracha";
}

p {
  font-family: "Kanit";
  font-size: inherit;
  font-weight: inherit
}


a {
  color: inherit;
  text-decoration: inherit
}

.test{
  font-family: "Kanit";
}


